tests/*
docs/*
example/*
*pycache*
[I|i]nclude
[L|l]ib
[S|s]cripts
pyvenv.cfg
pytest.ini
Dockerfile
# Uncomment this for real case scenario, because this files should be provided by user
#proxy_config.json
#rules_config.json